[buildout]
extends =
    https://raw.github.com/eea/eea.plonebuildout.core/master/buildout-configs/kgs/1.4/versions.cfg

[versions]
setuptools = 1.0
zc.buildout = 2.2.0
# python-dateutil = 1.5eea
# plone.recipe.zope2instance = 4.2.13.eea

# Required by:
# bise.theme==1.0
z3c.jbot = 0.7.1

plone.app.contenttypes = 1.0
#plone.portlet.collection = 2.1.5

# Required by:
# Products.feedfeeder==2.1
BeautifulSoup = 3.2.1

# Required by:
# bise.theme==1.0
Products.feedfeeder = 2.1

# Required by:
# bise.theme==1.0
collective.collage.portlets = 0.3.1

# Required by:
# bise.theme==1.0
se.portlet.gallery = 1.2.1bugfix-r8

collective.uploadify = 1.2

SQLAlchemy = 0.8.2
meld3 = 0.6.10
superlance = 0.8
zope.sqlalchemy = 0.7.2

# Required by:
MySQL-python = 1.2.4

# Required by:
# BAPDatabase==0.3.0
z3c.sqlalchemy = 1.4.0

# Required by:
# bise.theme==1.0
sc.social.like = 1.0.1
cs.editablefooter = 2.0
z3c.unconfigure = 1.0.1

# Required by:
# bise.theme==1.0
# collective.collage.portlets==0.3.1
Products.Collage = 1.3.9

# Required by:
# bise.theme==1.0
Products.PloneGlossary = 1.6

# Required by:
# bise.theme==1.0
Products.Ploneboard = 3.4

# Required by:
# Products.Ploneboard==3.4
Products.SimpleAttachment = 4.3

# Required by:
# bise.theme==1.0
cs.folderishpage = 1.0

# Required by:
# plone.app.contenttypes==1.0rc1
plone.formwidget.querystring = 1.0b3

# Required by:
# bise.multilingualglossary==1.0
collective.transmogrifier = 1.5

# Required by:
# bise.multilingualglossary==1.0
plone.app.transmogrifier = 1.2
